.header{
    width: 100%;
    height: 3rem;
    background-color: black;
color: white;
font-family: sans-serif;
font-size: 2rem;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}