.nav{
    display: flex;
    color: white;
    background-color:black;
    width: 100%;

}
.nav h2{
    margin-left: 30px;
    font-weight: 400;
    opacity: 0.7;
    font-size: 15px;
    margin-right: 30px;
}
.nav > h2:hover{
    opacity: 1;
    transform: scale(1.2);
}
.buttonn{
    background-color: white;
margin: auto;
width: 100%;
}

@media (max-width: 800px) {

.dd{
    font-size: 0.7rem;
    width: 100%;
}

}
